@font-face {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Georgia-Regular.woff") format("woff"),
    url("../fonts/Georgia-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Georgia Pro";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/GeorgiaPro-Bold.woff") format("woff"),
    url("../fonts/GeorgiaPro-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Georgia Pro";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/GeorgiaPro-SemiBold.woff") format("woff"),
    url("../fonts/GeorgiaPro-SemiBold.woff2") format("woff2");
  font-display: swap;
}