.top {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 11px;
    padding-right: 30px;
    text-transform: uppercase;
  }
}