.promo {
  &__wrapper {
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    @include fluid(padding-top, 160px, 210px);
    @include fluid(padding-bottom, 30px, 120px);
  }

  &__bg {
    position: absolute;
    top: 0;
    @include fluid(right, 0px, 26px);
    width: 77%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    -o-object-fit: contain;
    object-fit: contain
  }

  &__item {
    @include fluid(max-width, 380px, 452px);
  }

  &__info {
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    @include fluid(padding-right, 15px, 25px);
    @include fluid(padding-left, 15px, 25px);
    @include fluid(margin-bottom, 25px, 55px);
    font-family: 'SF Pro Display';
    font-weight: 500;
    border-radius: 100px;
    border: 1px solid rgb(227, 227, 227);
  }

  &__title {
    font-family: 'SF Pro Display';
    font-weight: 700;
    @include fluid(font-size, 26px, 60px);
    @include fluid(margin-bottom, 30px, 87px);

    &-span {
      display: flex;
      align-items: center
    }
  }

  &__icon {
    svg {
      @include fluid(width, 45px, 95px);
      @include fluid(height, 45px, 95px);
    }
  }

  &__btn {
    @include fluid(margin-bottom, 30px, 90px);
  }

  &__text {
    font-family: 'Red Hat Display';
    @include fluid(font-size, 18px, 24px);
    line-height: 1.4;
  }
}

@media (max-width: 992px) {
  .promo {
    &__wrapper {
      padding-top: 120px;
    }

    &__bg {
      width: 60%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media (max-width: 576px) {
  .promo {
    &__wrapper {
      padding-top: 100px;
    }

    &__bg {
      width: 75%;
    }
  }
}