.city {
  display: flex;
  align-items: center;
  @include fluid(gap, 5px, 10px);
  margin-left: auto;

  &__text {
    font-size: 12px;
    line-height: 1;
    color: #AABAC2;
    white-space: nowrap;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;

    // .select2.select2-container.select2-container--default {
    //   width: 100% !important;
    // }

    // .select2-container {
    //   transform: unset;
    //   right: 0;

    //   &::before,
    //   &::after {
    //     content: '';
    //     position: absolute;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     width: 5px;
    //     height: 1.5px;
    //     background-color: #AABAC2;
    //     transition: all 0.3s;
    //     border-radius: 25px;
    //     pointer-events: none;
    //   }

    //   &::before {
    //     right: 3px;
    //     transform: rotate(45deg);
    //   }

    //   &::after {
    //     right: 0;
    //     transform: rotate(-45deg);
    //   }
    // }
  }
}