.info {
  // position: sticky;
  // top: 0;

  &__wrapper {
    position: relative;
    @include fluid(padding-top, 30px, 120px);
    @include fluid(padding-bottom, 45px, 70px);
    background-color: #F6F6F6;

    &::before {
      content: '';
      position: absolute;
      left: -60px;
      top: 60px;
      @include fluid(width, 300px, 414px);
      @include fluid(height, 600px, 877px);
      filter: blur(404.3px);
      background: linear-gradient(225.00deg, rgb(244, 233, 255) 0%, rgb(221, 194, 252) 51%, rgb(194, 161, 231) 73.5%, rgb(136, 99, 196) 100%);
      opacity: 0.85;
      pointer-events: none;
      z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      right: -60px;
      top: 60px;
      @include fluid(width, 300px, 414px);
      @include fluid(height, 600px, 877px);
      filter: blur(404.3px);
      background: linear-gradient(225.00deg, rgb(244, 233, 255) 0%, rgb(221, 194, 252) 51%, rgb(194, 161, 231) 73.5%, rgb(136, 99, 196) 100%);
      opacity: 0.85;
      pointer-events: none;
      z-index: 2;
    }
  }

  &__left {
    position: absolute;
    @include fluid(left, -150px, -10px);
    @include fluid(top, 80px, 0px);
    width: fit-content;
    @include fluid(height, 450px, 1100px);
    pointer-events: none;
  }

  &__right {
    position: absolute;
    @include fluid(right, -150px, 5px);
    top: 50%;
    transform: translateY(-38%);
    width: unset;
    @include fluid(height, 334px, 670px);
    pointer-events: none;
    z-index: 1;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 34px, 55px);
    @include fluid(max-width, 600px, 850px);
    margin-left: auto;
    margin-right: auto;
  }

  &__item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr .7fr;
    align-items: center;
    @include fluid(gap, 10px, 48px);
    padding-top: 12px;
    @include fluid(padding-bottom, 20px, 12px);
    @include fluid(padding-left, 30px, 50px);
    @include fluid(padding-right, 20px, 31px);
    border-radius: 5.67px;
    box-shadow: 0px 2.57px 8.15px 0px rgba(0, 0, 0, 0.07);
    background: rgba(255, 255, 255, 0.84);

    &--reverse {
      z-index: 1;
      grid-template-columns: .3fr 1fr;
      @include fluid(gap, 10px, 38px);

      .info__item {
        &-img {
          order: -1;
          @include fluid(width, 206px, 235px);
          @include fluid(height, 206px, 235px);
        }

        &-text {
          max-width: unset;
          text-wrap: balance;
        }
      }
    }

    &-column {
      display: flex;
      flex-direction: column;
      @include fluid(gap, 12px, 13px);
    }

    &-title {
      max-width: 90%;
      font-weight: 700;
      @include fluid(font-size, 17px, 27px);
      margin-bottom: 4px;
    }

    &-text {
      position: relative;
      @include fluid(max-width, 300px, 342px);
      margin-bottom: 5px;
      @include fluid(font-size, 13px, 17px);
      @include fluid(padding-left, 16px, 19px);

      span {
        color: #3C1E5B;
        font-weight: 600;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        @include fluid(width, 6px, 9px);
        @include fluid(height, 6px, 9px);
        background-color: #3C1E5B;
        border-radius: 50%;
      }
    }

    &-img {
      @include fluid(width, 206px, 217px);
      @include fluid(height, 206px, 217px);
    }
  }
}

@media (max-width: 992px) {
  .info {
    &__right {
      top: unset;
      bottom: -120px;
    }

    &__left {
      top: unset;
      bottom: -60px;
    }
  }
}

@media(max-width:576px) {
  .info {
    &__right {
      transform: unset;
      top: 100px;
      right: -200px;
      z-index: 0;
    }

    &__left {
      top: 50%;
      bottom: unset;
      transform: translateY(-50%);
    }

    &__inner {
      margin-left: 18px;
      margin-right: 18px;
    }

    &__item {
      grid-template-columns: 1fr;
      justify-content: center;

      &-img {
        order: -1;
        margin-left: auto;
        margin-right: auto;
      }

      &-text {
        line-height: 1;
        margin-bottom: 0;
      }
    }
  }
}