@import "_mixins";
@import "_reset";
@import "_fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  font-size: 14px;
  color: #67749a;
}

.container {
  @include container;
}

.title {
  font-family: "HelveticaNeueCyr";
  text-align: center;
  line-height: 1.1;
  font-weight: 700;
  @include fluid(font-size, 32px, 56px);
  @include fluid(margin-bottom, 10px, 20px);
  color: #374160;
}

.subtitle {
  font-family: "HelveticaNeueCyr";
  text-align: center;
  line-height: 1.5;
  @include fluid(font-size, 14px, 16px);
}

.download {
  position: fixed;
  right: 0;
  top: 50%;
  display: flex;
  align-items: center;
  background-color: #FFED00;
  @include fluid(padding, 5px, 10px);
  @include fluid(width, 200px, 280px);
  z-index: 10;

  svg {
    @include fluid(width, 40px, 62px);
    @include fluid(height, 30px, 52px);
    @include fluid(margin-right, 10px, 15px);
  }

  &__text {
    font-weight: 700;
    @include fluid(font-size, 16px, 18px);
    @include fluid(line-height, 18px, 20px);
    text-transform: uppercase;
    color: #19A9C4;
  }
}

.social {
  position: relative;
  display: flex;
  align-items: center;

  &__link {
    display: flex;

    &:not(:last-child) {
      @include fluid(margin-right, 10px, 20px);
    }

    .inst {
      @include fluid(width, 17px, 23px);
      @include fluid(height, 17px, 23px);
    }

    svg {
      @include fluid(width, 15px, 20px);
      @include fluid(height, 15px, 20px);

      path {
        transition: fill 0.38s ease-in-out;
      }
    }

    &:hover {
      color: #FFD600;

      svg path {
        fill: #FFD600;
      }
    }

    &--hover {
      &:hover {
        ~.social__box {
          visibility: visible;
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }

  &__box {
    position: absolute;
    top: 30px;
    @include fluid(width, 315px, 440px);
    @include fluid(padding-top, 5px, 10px);
    @include fluid(padding-bottom, 5px, 10px);
    @include fluid(padding-left, 10px, 20px);
    @include fluid(padding-right, 10px, 20px);
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: visibility .38s ease-in-out, opacity .38s ease-in-out, z-index .38s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      @include fluid(left, 5px, 10px);
      @include fluid(top, 5px, 8px);
      background-image: url("../images/icons/star.svg");
      background-repeat: no-repeat;
      background-size: contain;
      @include fluid(width, 6px, 8px);
      @include fluid(height, 6px, 8px);
    }

    &--top {
      top: -65px;
    }
  }

  &__text {
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    @include fluid(font-size, 10px, 12px);
    @include fluid(line-height, 14px, 17px);
    color: #67749A;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  @include fluid(padding-top, 10px, 20px);
  @include fluid(padding-bottom, 10px, 20px);
  border-bottom: 1px solid #dddddd;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    img {
      @include fluid(width, 87px, 111px);
      @include fluid(height, 35px, 45px);
      object-fit: contain;
    }
  }

  &__tel {
    display: flex;
    align-items: center;
    @include fluid(font-size, 14px, 16px);
    color: #19a9c4;
    transition: color 0.38s ease-in-out;

    svg {
      @include fluid(width, 15px, 20px);
      @include fluid(height, 15px, 20px);
      @include fluid(margin-right, 10px, 15px);

      path {
        transition: fill 0.38s ease-in-out;
      }
    }

    &:hover {
      color: #ffd600;

      svg path {
        fill: #ffd600;
      }
    }
  }

  &__burger {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    @include fluid(margin-right, 30px, 60px);
    @include fluid(font-size, 14px, 16px);
    color: #19a9c4;
    transition: color 0.38s ease-in-out;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    svg {
      @include fluid(width, 15px, 20px);
      @include fluid(height, 15px, 20px);
      @include fluid(margin-right, 10px, 15px);

      path {
        transition: fill 0.38s ease-in-out;
      }
    }

    &:hover {
      color: #ffd600;

      svg path {
        fill: #ffd600;
      }
    }
  }
}

.intro {
  @include fluid(margin-top, 76px, 116px);
  @include fluid(margin-bottom, 40px, 80px);

  &__img {
    display: block;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
}

.info {
  @include fluid(margin-bottom, 40px, 80px);

  &__inner {
    @include fluid(padding, 15px, 35px);
    background: linear-gradient(134.4deg, #27b3d3 36.69%, #33c3e2 74.74%);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
  }

  &__images {
    width: 48%;
    margin-right: 4%;

    &-slider {
      border-radius: 10px;
    }

    &-slide {
      width: 100%;
      @include fluid(height, 198px, 250px);
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__text {
    width: 48%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--container {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &-title {
      @include fluid(margin-bottom, 10px, 20px);
      font-weight: 700;
      @include fluid(font-size, 16px, 20px);
      line-height: 1;
    }

    &-listItem {
      line-height: 1.42;
      margin-bottom: 10px;
      @include fluid(font-size, 16px, 22px);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-navigation {
      display: flex;
      align-items: center;
      @include fluid(margin-top, 20px, 40px);
    }

    &-prev,
    &-next {
      @include fluid(width, 15px, 20px);
      @include fluid(height, 15px, 20px);
      position: static;
      z-index: 1;

      &::after {
        content: none;
      }

      svg {
        path {
          fill: #ffd600;
          transition: fill 0.38s ease-in-out;
        }
      }
    }

    &-next {
      @include fluid(margin-left, 25px, 35px);

      svg {
        transform: rotate(180deg);
      }
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
      svg path {
        fill: #fff;
        transition: fill 0.38s ease-in-out;
      }
    }
  }
}

.work {
  @include fluid(margin-bottom, 40px, 80px);

  &__inner {
    width: 100%;
    @include fluid(margin-top, 25px, 50px);
    @include fluid(padding-top, 40px, 80px);
    @include fluid(padding-bottom, 40px, 80px);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    border: 1px solid #ddd;
    overflow: hidden;
    background: url("../images/work-bg.png") no-repeat;
    background-size: cover;
  }

  &__link {
    @include fluid(padding-top, 75px, 150px);
    @include fluid(margin-right, 55px, 110px);
    color: #19a9c4;
    line-height: 1.5;
    @include fluid(font-size, 14px, 16px);
    position: relative;

    &::after {
      content: "";
      @include fluid(width, 70px, 130px);
      @include fluid(height, 70px, 130px);
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      background: url("../images/icons/play.svg") no-repeat;
      background-size: contain;
      transition: transform 0.38s ease-in-out;
    }

    &:hover::after {
      transform: translateX(-50%) rotate(360deg);
    }
  }
}

.product {
  @include fluid(margin-bottom, 40px, 80px);

  &--reverse {
    .product {
      &__cards {
        order: 2;
      }

      &__info {
        order: 1;
      }

      &__inner {
        @include fluid(padding-left, 45px, 90px);
        @include fluid(padding-right, 20px, 45px);
      }
    }
  }

  &__inner {
    @include fluid(padding-bottom, 15px, 35px);
    @include fluid(padding-top, 15px, 35px);
    @include fluid(padding-right, 45px, 90px);
    @include fluid(padding-left, 20px, 45px);
    background-color: #f8f8f8;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__btns {
    width: 100%;
    border-radius: 5px;
    position: relative;

    &-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 100%;
      left: 0;
      z-index: 1;
    }
  }

  &__cards {
    width: 31%;

    &-slider {
      @include fluid(padding-right, 25px, 45px);
      @include fluid(padding-left, 25px, 45px);
    }

    &-img {
      width: 100%;
      @include fluid(height, 290px, 380px);
      @include fluid(margin-bottom, 10px, 20px);
      object-fit: contain;
      border-radius: 10px;
      border: 1px solid #ddd;
      background-color: #fff;

      &--mainImg {
        object-fit: cover;
      }
    }

    &-block {
      position: relative;

      &:hover {
        .product__cards-info {
          opacity: 0.7;
        }
      }
    }

    &-info {
      position: absolute;
      width: 90%;
      left: 10px;
      bottom: 10px;
      z-index: 1;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      color: #19a9c4;
      opacity: 0;
      transition: opacity 0.38s ease-in-out;

      a {
        display: block;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        color: #19a9c4;
      }
    }

    &-buy {
      padding-right: 30px;
      text-align: center;
      color: #443f00;
      border-radius: 5px;
      @include fluid(padding-top, 10px, 18px);
      @include fluid(padding-bottom, 10px, 18px);
      background-color: #ffed00;
      @include fluid(font-size, 16px, 18px);
      cursor: pointer;
      position: relative;
      transition: border-radius 0.38s ease-in-out;

      &::before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        left: calc(50% + 30px);
        z-index: 1;
        transform: translateY(-50%) translateX(-50%) rotateX(180deg);
        background: url("../images/icons/arrow-down.svg") no-repeat;
        background-size: contain;
        transition: transform 0.38s ease-in-out;
      }

      &--active {
        border-radius: 0 0 5px 5px;
        transition: border-radius 0.38s ease-in-out;

        &::before {
          transform: translateY(-50%) translateX(-50%) rotateX(0);
        }
      }
    }

    &-link {
      width: 100%;
      @include fluid(padding-top, 10px, 18px);
      @include fluid(padding-bottom, 10px, 18px);
      @include fluid(font-size, 16px, 18px);
      text-align: center;
      background-color: #fff;
      border: 1px solid #ffed00;
      color: #443f00;
      transition: color 0.38s ease-in-out;

      &:first-child {
        border-radius: 5px 5px 0 0;
      }

      &:hover {
        color: #ffc700;
      }
    }
  }

  &__navigation {

    &-prev,
    &-next {
      @include fluid(margin-top, -40px, -65px);
      @include fluid(width, 19px, 27px);
      transition: opacity 0.38s ease-in-out;

      &::after {
        content: none;
      }
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
      transform: rotate(180deg);
    }

    .swiper-button-prev.swiper-button-disabled {
      opacity: 0.5;
      transition: opacity 0.38s ease-in-out;
    }
  }

  &__info {
    width: 60%;

    &-slider {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-title {
      color: #374160;
      font-weight: 700;
      @include fluid(font-size, 24px, 46px);
      @include fluid(margin-bottom, 10px, 15px);
    }

    &-link {
      color: #ffc700;
      @include fluid(padding-right, 55px, 65px);
      @include fluid(font-size, 18px, 24px);
      position: relative;

      &::before {
        content: "";
        @include fluid(width, 30px, 40px);
        @include fluid(height, 12px, 15px);
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 1;
        background: url("../images/icons/link-arrow.svg") no-repeat;
        background-size: contain;
        transform: translateY(-50%);
        transition: right 0.38s ease-in-out;
      }

      &:hover::before {
        right: 0;
      }
    }

    &-subtitle {
      @include fluid(margin-top, 15px, 30px);
      @include fluid(margin-bottom, 10px, 15px);
      @include fluid(font-size, 16px, 18px);
      color: #374160;
    }

    &-text {
      font-size: 14px;
      line-height: 1.42;

      >p {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__pagination {
    @include fluid(margin-top, 15px, 30px);
    display: flex;
    align-items: center;

    &-item {
      @include fluid(width, 40px, 60px);
      @include fluid(height, 40px, 60px);
      @include fluid(margin-right, 10px, 20px);
      position: relative;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &.default {
        background: url("../images/product-icons/default.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/default-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.lemon {
        background: url("../images/product-icons/lemon.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/lemon-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.apple {
        background: url("../images/product-icons/apple.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/apple-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.bubbles {
        background: url("../images/product-icons/bubbles.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/bubbles-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.feather {
        background: url("../images/product-icons/feather.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/feather-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.flower {
        background: url("../images/product-icons/flower.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/flower-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.garnet {
        background: url("../images/product-icons/garnet.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/garnet-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.grass {
        background: url("../images/product-icons/grass.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/grass-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.tea {
        background: url("../images/product-icons/tea.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/tea-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.breeze {
        background: url("../images/product-icons/breeze.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/breeze-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.spring {
        background: url("../images/product-icons/spring.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/spring-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.exotic {
        background: url("../images/product-icons/exotic.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/exotic-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.cypress {
        background: url("../images/product-icons/cypress.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/cypress-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.peach {
        background: url("../images/product-icons/peach.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/peach-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.orchid {
        background: url("../images/product-icons/orchid.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/orchid-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.magnolia {
        background: url("../images/product-icons/magnolia.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/magnolia-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.lotus {
        background: url("../images/product-icons/lotus.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/lotus-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      &.broomstick {
        background: url("../images/product-icons/broomstick.svg") no-repeat;
        background-size: contain;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: url("../images/product-icons/broomstick-full.svg") no-repeat;
          background-size: contain;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }
    }
  }
}

.product__pagination-item--active.default::after,
.product__pagination-item--active.lemon::after,
.product__pagination-item--active.apple::after,
.product__pagination-item--active.bubbles::after,
.product__pagination-item--active.feather::after,
.product__pagination-item--active.flower::after,
.product__pagination-item--active.garnet::after,
.product__pagination-item--active.grass::after,
.product__pagination-item--active.tea::after,
.product__pagination-item--active.breeze::after,
.product__pagination-item--active.spring::after,
.product__pagination-item--active.exotic::after,
.product__pagination-item--active.cypress::after,
.product__pagination-item--active.peach::after,
.product__pagination-item--active.orchid::after,
.product__pagination-item--active.magnolia::after,
.product__pagination-item--active.lotus::after,
.product__pagination-item--active.broomstick::after {
  opacity: 1;
}

.popular {
  @include fluid(margin-bottom, 25px, 50px);

  &__inner {
    @include fluid(margin-top, 25px, 50px);
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 23%;
    margin-right: 2.66666%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include fluid(margin-bottom, 15px, 30px);

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &__img {
    width: 100%;
    @include fluid(height, 290px, 380px);
    @include fluid(margin-bottom, 10px, 20px);
    object-fit: contain;
    border-radius: 10px;
    border: 1px solid #ddd;
  }

  &__title {
    color: #374160;
    @include fluid(margin-bottom, 10px, 15px);
    @include fluid(font-size, 16px, 18px);
    font-weight: 700;
  }

  &__text {
    @include fluid(margin-bottom, 15px, 30px);
    @include fluid(font-size, 14px, 16px);
  }

  &__btns {
    width: 100%;
    border-radius: 5px;
    position: relative;

    &-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
    }
  }

  &__buy {
    padding-right: 30px;
    text-align: center;
    color: #443f00;
    border-radius: 5px;
    @include fluid(padding-top, 10px, 18px);
    @include fluid(padding-bottom, 10px, 18px);
    background-color: #ffed00;
    @include fluid(font-size, 16px, 18px);
    cursor: pointer;
    position: relative;
    transition: border-radius 0.38s ease-in-out;

    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      top: 50%;
      left: calc(50% + 30px);
      z-index: 1;
      transform: translateY(-50%) translateX(-50%);
      background: url("../images/icons/arrow-down.svg") no-repeat;
      background-size: contain;
      transition: transform 0.38s ease-in-out;
    }

    &--active {
      border-radius: 5px 5px 0 0;
      transition: border-radius 0.38s ease-in-out;

      &::before {
        transform: translateY(-50%) translateX(-50%) rotateX(180deg);
      }
    }
  }

  &__link {
    width: 100%;
    @include fluid(padding-top, 10px, 18px);
    @include fluid(padding-bottom, 10px, 18px);
    @include fluid(font-size, 16px, 18px);
    text-align: center;
    background-color: #fff;
    border: 1px solid #ffed00;
    color: #443f00;
    transition: color 0.38s ease-in-out;

    &:last-child {
      border-radius: 0 0 5px 5px;
    }

    &:hover {
      color: #ffc700;
    }
  }

  &__slider {
    display: none;
  }

  .product__navigation {
    display: none;
  }
}

@keyframes hoverBtns {
  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(5deg);
  }

  40% {
    transform: rotate(-5deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

.buy {
  @include fluid(margin-bottom, 40px, 80px);
  background: linear-gradient(134.4deg, #27b3d3 36.69%, #33c3e2 74.74%);

  &__title {
    @include fluid(padding-top, 35px, 70px);
    @include fluid(padding-bottom, 25px, 50px);
    @include fluid(font-size, 24px, 48px);
    text-align: center;
    color: #fff;
    line-height: 1.2;
  }

  &__inner {
    display: flex;
    justify-content: center;
    @include fluid(padding-bottom, 35px, 70px);
  }

  &__link {
    @include fluid(margin-left, 15px, 30px);

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      animation: hoverBtns 0.5s ease-in-out;
    }

    img {
      @include fluid(width, 200px, 285px);
      @include fluid(height, 53px, 75px);
      object-fit: contain;
    }
  }
}

.modal {
  display: none;

  &.fancybox-content {
    background-color: transparent;
  }

  .fancybox-button {
    display: none;
  }
}

.connect,
.modal {
  @include fluid(margin-bottom, 40px, 80px);
  position: relative;

  &__form {
    @include fluid(width, 410px, 600px);
    @include fluid(padding, 20px, 40px);
    margin: 0 auto;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    z-index: 2;

    &-title {
      @include fluid(margin-bottom, 20px, 40px);
      font-weight: 700;
      @include fluid(font-size, 20px, 34px);
      line-height: 1.47;
      color: #374160;
    }

    &-text {
      @include fluid(margin-bottom, 20px, 40px);
      font-weight: 400;
      @include fluid(font-size, 14px, 16px);
      line-height: 1.75;
    }

    &-container {
      position: relative;
      @include fluid(margin-bottom, 10px, 20px);
    }

    &-input {
      width: 100%;
      background-color: #e9f6f9;
      border: 1px solid #e9f6f9;
      color: #313847;
      border-radius: 10px;
      @include fluid(font-size, 16px, 18px);
      @include fluid(padding-bottom, 10px, 18px);
      @include fluid(padding-top, 10px, 18px);
      @include fluid(padding-left, 50px, 60px);
      @include fluid(padding-right, 10px, 20px);

      &::placeholder {
        color: #b0cbd1;
      }
    }

    &-label {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 20px;
      z-index: 1;
      background: url("../images/icons/name-form.svg") no-repeat;
      background-size: contain;
      transform: translateY(-50%);
      cursor: text;

      &--tel {
        background: url("../images/icons/tel-form.svg") no-repeat;
        background-size: contain;
        transform: translateY(-55%);
      }

      &--house {
        background: url("../images/icons/house.svg") no-repeat;
        background-size: contain;
        transform: translateY(-55%);
      }

      &--email {
        background: url("../images/icons/email.svg") no-repeat;
        background-size: contain;
        transform: translateY(-55%);
      }
    }

    &-btn {
      width: 100%;
      display: block;
      text-align: center;
      border-radius: 10px;
      border: 1px solid #ffed00;
      font-weight: 500;
      background-color: #ffed00;
      color: #443f00;
      @include fluid(font-size, 16px, 18px);
      @include fluid(padding-bottom, 10px, 18px);
      @include fluid(padding-top, 10px, 18px);
      @include fluid(margin-top, 15px, 30px);
      @include fluid(margin-bottom, 10px, 20px);
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
        cursor: initial;
      }
    }

    &-checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        @include fluid(font-size, 14px, 16px);
        color: #67749a;
        cursor: pointer;

        &::before {
          content: "";
          display: inline-block;
          @include fluid(width, 20px, 25px);
          @include fluid(height, 20px, 25px);
          flex-shrink: 0;
          flex-grow: 0;
          border: 1px solid #dddddd;
          line-height: 1.75;
          border-radius: 3px;
          margin-right: 15px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
          transition: background-color 0.38s ease-in-out,
            border-color 0.38s ease-in-out, opacity 0.38s ease-in-out;
        }

        a {
          color: #ffc700;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &:checked+label::before {
        border-color: #ffed00;
        background-color: #ffed00;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        opacity: 1;
      }
    }
  }

  &__moveObject {
    position: absolute;
    top: 0;
    z-index: 1;

    &--orange {
      @include fluid(left, -50px, 0);

      img {
        @include fluid(width, 300px, 525px);
        @include fluid(height, 292px, 511px);
        object-fit: contain;
      }
    }

    &--apple {
      @include fluid(right, 50px, 100px);

      img {
        @include fluid(width, 194px, 525px);
        @include fluid(height, 287px, 511px);
        object-fit: contain;
      }
    }
  }
}

.reviews {
  @include fluid(margin-bottom, 40px, 80px);

  .container {
    position: relative;
  }

  &__slider {
    @include fluid(margin-top, 20px, 40px);
    @include fluid(margin-left, 50px, 105px);
    @include fluid(margin-right, 50px, 105px);
    position: relative;

    &-slide {
      height: auto;
      @include fluid(padding, 15px, 30px);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #f8f8f8;
    }

    &-name {
      @include fluid(margin-bottom, 10px, 15px);
      font-weight: 700;
      color: #374160;
      @include fluid(font-size, 16px, 18px);
    }

    &-text {
      @include fluid(font-size, 14px, 16px);
      line-height: 1.375;
    }

    &-link {
      padding-right: 67px;
      width: max-content;
      @include fluid(font-size, 14px, 16px);
      @include fluid(margin-top, 15px, 30px);
      color: #ffc700;
      position: relative;

      &::before {
        content: "";
        width: 42px;
        height: 11px;
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 1;
        transform: translateY(-50%);
        background: url("../images/icons/long-arrow.svg") no-repeat;
        background-size: contain;
        transition: right 0.38s ease-in-out;
      }

      &:hover::before {
        right: 0;
      }
    }

    &-prev,
    &-next {
      @include fluid(margin-top, 0, 30px);
      @include fluid(width, 19px, 27px);
      transition: opacity 0.38s ease-in-out;

      &::after {
        content: none;
      }
    }

    &-next {
      transform: rotate(180deg);
    }

    .swiper-button-prev.swiper-button-disabled {
      opacity: 0.5;
      transition: opacity 0.38s ease-in-out;
    }
  }
}

.footer {
  @include fluid(padding-bottom, 15px, 30px);
  @include fluid(padding-top, 15px, 30px);
  background: linear-gradient(152.29deg, #19a9c4 17.04%, #1bb7d5 72.54%);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-text {
      width: 60%;
      line-height: 1.5;
      @include fluid(font-size, 14px, 16px);
      color: #fff;
    }
  }

  &__link {
    @include fluid(font-size, 14px, 16px);
    color: #fff;
    display: flex;
    align-items: center;

    img {
      @include fluid(margin-left, 15px, 30px);
      @include fluid(width, 50px, 61px);
      @include fluid(height, 39px, 48px);
      object-fit: contain;
      transition: transform 0.38s ease-in-out;
    }

    &:hover img {
      transform: rotate(360deg);
    }
  }
}

@media screen and (max-width: 992px) {
  .nav {
    &__item {
      margin-right: 15px;
    }
  }

  .info {
    &__images-slide {
      height: 141px;
    }

    &__text-listItem {
      font-size: 14px;
    }
  }

  .product__cards {
    width: 37%;
  }

  .popular__img {
    height: 211px;
  }

  .connect__moveObject {
    display: none;
  }

  .social {
    position: static;

    &__link {
      &:hover {
        color: #19A9C4;

        svg path {
          fill: #19A9C4;
        }
      }

      &:active {
        color: #FFD600;

        svg path {
          fill: #FFD600;
        }
      }

      &--hover {
        &:hover {
          ~.social__box {
            visibility: hidden;
            opacity: 0;
            z-index: -1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .download {
    width: 175px;

    &__text {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .social {
    width: 100%;
    margin-bottom: 20px;

    &__link {
      .inst {
        width: 23px;
        height: 23px;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .header {
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: #fff;
    border: none;

    &__inner {
      width: 510px;
      padding: 20px;
      display: flex;
      background-color: #fff;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: -190px;
      left: 50%;
      z-index: 10;
      transition: top 0.38s ease-in-out;
      transform: translateX(-50%);
      border-radius: 0 0 10px 10px;

      >.header__logo {
        display: none;
      }
    }

    &__burger {
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 11;
      background-color: #fff;
      border-bottom: 1px solid #dddddd;

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__logo {
      margin-right: 0;
    }

    &__mask {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(#000, 0.6);
      opacity: 0;
      z-index: -1;
      visibility: hidden;
      transition: opacity 0.38s ease-in-out, z-index 0.38s ease-in-out,
        visibility 0.38s ease-in-out;
    }

    &--active {
      .header__inner {
        top: 61px;
      }

      .header__mask {
        opacity: 1;
        z-index: 9;
        visibility: visible;
      }
    }

    &__tel {
      font-size: 18px;

      svg {
        width: 20px;
        height: 20px;
        margin-right: 15px;
      }
    }
  }

  .burger {
    display: block;
    position: relative;
    z-index: 11;
    padding: 15px;
    cursor: pointer;

    span {
      width: 30px;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      background-color: #27b3d3;
      transform: translate3d(-50%, -50%, 0);
      transition: background-color 0.2s ease-in-out;

      &::before,
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        z-index: 10;
        background-color: #27b3d3;
        transform: translate3d(-50%, -50%, 0);
      }

      &::after {
        top: 9px;
        transition: top 0.2s ease-in-out, transform 0.2s ease-in-out;
      }

      &::before {
        bottom: 8px;
        transition: bottom 0.2s ease-in-out, transform 0.2s ease-in-out;
      }
    }

    &--active {
      span {
        background-color: transparent;

        &::before {
          bottom: 0;
          transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        }

        &::after {
          top: 0;
          transform: translate3d(-50%, -50%, 0) rotate(45deg);
        }
      }
    }
  }

  .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

    &__item {
      width: 100%;
      margin-right: 0;
      padding: 10px 0;
      font-size: 20px;

      svg {
        width: 20px;
        height: 20px;
        margin-right: 15px;
      }
    }
  }

  .intro {
    margin-top: 76px;
  }

  .info {
    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__images {
      width: 70%;
      margin-right: 0;
      margin-bottom: 20px;

      &-slide {
        height: 149px;
      }
    }

    &__text {
      width: 100%;

      &-navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .work__link:hover::after {
    transform: translateX(-50%) rotate(0);
  }

  .buy__link:hover {
    animation: none;
  }

  .connect__form-label,
  .modal__form-label {
    left: 17px;
  }

  .product {
    &--reverse .product__inner {
      padding: 15px 20px;
    }

    &__inner {
      padding: 15px 20px;
      flex-direction: column;
      align-items: center;
    }

    &__cards {
      width: 60%;
      margin-bottom: 20px;
    }

    &__info {
      width: 100%;

      &-link:hover::before {
        right: 10px;
      }
    }

    &__pagination {
      justify-content: center;
    }

    &--reverse {
      .product {
        &__cards {
          order: 1;
        }

        &__info {
          order: 2;
        }
      }
    }
  }

  .popular__item {
    width: 31%;
    margin-right: 2.5%;

    &:nth-child(4n) {
      margin-right: 2.5%;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .reviews__slider-link:hover::before {
    right: 10px;
  }

  .footer {
    &__inner {
      flex-direction: column;

      &-text {
        width: 100%;
        margin-bottom: 20px;
      }

      &-developers {
        align-self: flex-end;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .header__inner {
    width: 100%;
  }

  .info__images {
    width: 100%;
  }

  .work {
    &__inner {
      position: relative;
      overflow: hidden;
      justify-content: center;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: rgba(255, 255, 255, 0.65);
      }
    }

    &__link {
      margin-right: 0;
      position: relative;
      z-index: 2;
    }
  }

  .product__cards {
    width: 200px;

    &-img {
      height: 199px;
    }
  }

  .popular {
    >.container {
      position: relative;
    }

    &__inner {
      display: none;
    }

    &__slider {
      display: block;
      margin: 20px 30px 0;
    }

    .product__navigation {
      display: block;
    }

    .product__navigation-prev {
      left: 10px;
    }

    .product__navigation-next {
      right: 10px;
    }

    &__btns-container {
      top: auto;
      bottom: 100%;
    }

    &__buy {
      &::before {
        transform: translateY(-50%) translateX(-50%) rotateX(180deg);
      }

      &--active {
        border-radius: 0 0 5px 5px;

        &::before {
          transform: translateY(-50%) translateX(-50%) rotateX(0);
        }
      }
    }

    &__link {
      &:first-child {
        border-radius: 5px 5px 0 0;
      }

      &:last-child {
        border-radius: 0;
      }
    }
  }

  .buy {
    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__link {
      margin-left: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .connect__form,
  .modal__form {
    width: 370px;
  }

  .reviews__slider {
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer__inner-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 24px;
  }

  .product__info-title {
    font-size: 20px;
  }

  .connect,
  .modal {
    &__form {
      width: 100%;

      &-title {
        line-height: 1.2;
      }
    }
  }

  .reviews__slider {
    margin-left: 0;
    margin-right: 0;

    &-prev,
    &-next {
      display: none;
    }

    &-link {
      font-size: 13px;
      padding-right: 40px;

      &::before {
        width: 30px;
        height: 8px;
        right: 0;
      }
    }
  }
}