.check {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}

.label {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #171717;
  @include fluid(font-size, 18px, 25px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;

  &__input {
    &:checked+.label__inputCustom {
      background-color: #E20072;
      border-color: #E20072;

      &::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  &__inputCustom {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 5px;
    border: 1px solid #171717;
    background: #fff;
    transition: background-color .23s ease-in-out,
      border-color .23s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      width: 14px;
      height: 14px;
      background-image: url("../../assets/images/icons/check.svg");
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform .23s ease-in-out;
      border-radius: 5px;
    }
  }
}