.search {
  position: relative;
  width: 100%;
  max-width: 304px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;

  &__input {
    width: 100%;
    @include fluid(padding-bottom, 10px, 15px);
    border-bottom: 1px solid rgba(62, 53, 53, 0.35);
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
  }
}

@media (max-width: 992px) {
  .search {
    margin-top: 30px;
  }
}