.vacancies {
  position: relative;
  @include fluid(margin-top, 30px, 120px);
  @include fluid(margin-bottom, 30px, 100px);

  &__klaus {
    position: absolute;
    @include fluid(right, 0px, 130px);
    @include fluid(bottom, -30px, -100px);
    z-index: -2;
    @include fluid(width, 380px, 618px);
    @include fluid(height, 230px, 370px);
  }
}