@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../../assets/fonts/Montserrat-Medium.woff") format("woff"),
    url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/Montserrat-Bold.woff") format("woff"),
    url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../../assets/fonts/Raleway-ExtraBold.woff") format("woff"),
    url("../../assets/fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-display: swap;
}