.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  gap: 10px;
  padding-bottom: 12px;
  @include fluid(padding-left, 20px, 32px);
  @include fluid(padding-right, 20px, 32px);
  color: var(--White, #FFF);
  font-feature-settings: 'salt'on, 'liga'off;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  border-radius: 32px;
  border: 1px solid transparent;
  background-color: var(--Orange, #EF7F1A);
  transition: color .23s ease-in-out, background-color .23s ease-in-out, box-shadow .23s ease-in-out, transform .23s ease-in-out, border-color .23s ease-in-out;
  cursor: pointer;

  &:hover {
    color: var(--Orange, #EF7F1A);
    background-color: var(--White, #FFF);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.04);
    border-color: #EF7F1A;

    .btn__icon {
      svg {
        path {
          fill: var(--Orange, #EF7F1A);
        }
      }
    }
  }

  &--white {
    color: var(--Orange, #EF7F1A);
    background-color: var(--White, #FFF);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.04);

    &:hover {
      background-color: var(--Orange, #EF7F1A);
      color: var(--White, #FFF);
    }
  }

  &--border {
    color: var(--Orange, #EF7F1A);
    background-color: var(--White, #FFF);
    border: 1px solid var(--Orange, #EF7F1A);

    &:hover {
      background-color: var(--Orange, #EF7F1A);
      color: var(--White, #FFF);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    transition: transform .23s ease-in-out;

    svg {
      path {
        transition: fill .23s ease-in-out;
      }
    }
  }

  &__arrow {
    display: none;
  }
}

@media (max-width: 992px) {
  .btn {
    &--tariffs {
      padding: 12px 6px;
      width: 100%;
    }

    span {
      &:first-child {
        display: none;
      }
    }

    &__arrow {
      display: block;
    }
  }
}