.why {
  &__wrapper {
    position: relative;
    @include fluid(margin-top, 60px, 80px);
    @include fluid(margin-bottom, 60px, 80px);
    overflow: hidden
  }

  &__bg {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 60%;
    left: 51%;
    transform: translate(-50%, -50%);
    height: 338px;
    z-index: -1;
  }

  &__title {
    margin-bottom: 21px;
  }

  &__inner {
    &-box {
      max-width: 486px;
      @include fluid(max-width, 450px, 486px);
      margin-left: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }

  &__item {
    &-num {
      color: var(--Orange, #EF7F1A);
      font-feature-settings: 'salt'on,
        'liga'off;
      font-size: 64px;
      font-weight: 400;
      line-height: 46px;
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid #969BAB;
    }

    &-text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media(max-width: 992px) {
  .why {
    &__bg {
      left: 60%;
    }
  }
}

@media(max-width: 768px) {
  .why {
    &__bg {
      left: 5%;
      top: 12px;
      transform: translate(0, 0);
      height: 108px;
    }

    &__inner {
      &-box {
        grid-template-columns: 1fr;
        margin-left: unset;
      }
    }
  }
}