.footer {
  &__wrapper {
    border-radius: 20px 20px 0px 0px;
    background: #025EA1;
    @include fluid(padding-top, 60px, 40px);
    @include fluid(padding-left, 90px, 100px);
    @include fluid(padding-right, 90px, 100px);
    padding-bottom: 40px;
  }

  &__inner {
    display: grid;
    grid-template-columns: .9fr 1fr;
    @include fluid(column-gap, 65px, 250px);
    @include fluid(margin-bottom, 50px, 70px);
  }

  &__item {
    &-text {
      color: #FFF;
      @include fluid(font-size, 16px, 20px);
      font-weight: 700;
      padding-bottom: 5px;
      border-bottom: 1px solid #fff;
      @include fluid(margin-bottom, 25px, 30px);
    }

    &-link {
      color: #FFF;
      @include fluid(font-size, 16px, 20px);
    }

    &-grid {
      display: grid;
      grid-template-columns: 1fr .7fr;
      @include fluid(column-gap, 10px, 20px);
      @include fluid(row-gap, 15px, 20px);
    }

    &-box {
      display: flex;
      align-items: center;
      justify-content: end;
      @include fluid(gap, 30px, 50px);
      @include fluid(margin-right, 18px, 44px);
    }

    &-phone {
      color: #F9F9F9;
      @include fluid(font-size, 22px, 24px);
    }
  }

  &__form {
    position: relative;
    display: grid;
    grid-template-columns: .67fr .5fr;
    align-items: center;
    @include fluid(gap, 15px, 10px);
    @include fluid(margin-bottom, 20px, 40px);

    &-input {
      padding-top: 10px;
      padding-bottom: 12px;
      @include fluid(padding-left, 10px, 20px);
      @include fluid(padding-right, 10px, 20px);
      border-radius: 5px;
      background: #F9F9F9;

      &.input--invalid {
        +.footer__form-error {
          display: initial;
        }
      }
    }

    &-error {
      display: none;
      position: absolute;
      bottom: -25px;
      left: 5px;
      color: #fff;
      font-size: 16px;
    }

    .btn {
      width: 100%;
      max-width: 200px;
      height: 100%;
    }
  }

  &__copy {
    @include fluid(padding-top, 10px, 20px);
    border-top: 1px solid #fff;
    color: #F9F9F9;
    @include fluid(font-size, 12px, 16px);
  }
}

.social {
  display: flex;
  @include fluid(gap, 10px, 15px);

  &__icon {
    @include fluid(width, 30px, 42px);
    @include fluid(height, 30px, 42px);
    border-radius: 10px;
  }
}

@media (max-width: 992px) {
  .footer {
    &__inner {
      grid-template-columns: 1fr;
      gap: 30px;
    }

    &__item {
      &-phone {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 576px) {
  .footer {
    background-color: #025ea1;

    &__wrapper {
      padding-top: 40px;
      padding-left: 0px;
      padding-right: 0px;
    }

    &__item {
      &-text {
        text-align: center;
      }

      &-grid {
        grid-template-columns: 1fr;
        justify-items: center;
      }

      &-box {
        flex-direction: column;
        align-items: center;
      }
    }

    &__copy {
      text-align: center;
    }

    &__form {
      .btn {
        width: unset;
      }
    }
  }
}

@media (max-width: 389px) {
  .footer {
    &__form {
      grid-template-columns: 1fr;
      justify-items: center;

      &-input {
        width: 100%;
      }
    }
  }
}