.check {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}

.label {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 23px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  cursor: pointer;

  @media screen and (max-width: 1600px) and (min-width: 993px) {
    font-size: calc(16px + (18 - 16) * ((100vw - 992px) / (1600 - 992)));
    gap: calc(12px + (23 - 12) * ((100vw - 992px) / (1600 - 992)));
  }

  a {
    color: #1BAFE5;
  }

  &__input {
    &:checked+.label__inputCustom {
      background-color: #1BAFE5;

      &::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  &__inputCustom {
    position: relative;
    min-width: 30px;
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    transition: background-color 0.38s ease-in-out;
    border-radius: 5px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      width: 20px;
      height: 15px;
      background-image: url("../../assets/images/icons/check.svg");
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 50%;
      transition: transform 0.38s ease-in-out;
    }
  }
}

@media (max-width: 992px) {
  .label {
    font-size: 16px;
    gap: 12px;
  }
}