// @media (max-width: 1800px) {
//   .top {
//     .container {
//       max-width: unset;
//     }

//     &__swiper {
//       width: 90%;
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }
// }

@media (max-width: 992px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .link {
    &:hover {
      color: #EDEDED;
      border-color: #EDEDED;
    }

    &--black {
      &:hover {
        color: #3a3a3a;
        border-color: #3a3a3a;
      }
    }
  }

  .btn {
    &:hover {
      color: #3a3a3a;
      border-color: #3a3a3a;
    }
  }

  .header {
    &__top {
      display: none;
    }

    &__bottom {
      justify-content: space-between;

      .link {
        display: none;
      }
    }

    &__link {
      &:hover {
        color: #ededed;
      }
    }
  }

  .burger {
    position: relative;
    display: block;
    top: 0;
    width: 24px;
    height: 21px;
    cursor: pointer;
    z-index: 5;

    &__line {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 3px;
      background-color: #fff;
      transition: all 0.38s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #fff;
      transition: all 0.38s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.active {
      &::before {
        background-color: #2a73ff;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }

      &::after {
        background-color: #2a73ff;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      .burger__line {
        background-color: #2a73ff;
        transform: scale(0);
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-200%);
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    background-color: rgba(46, 46, 46, 0.99);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: transform .38s ease-in-out, opacity .38s ease-in-out, visibility .38s ease-in-out, z-index .38s ease-in-out;

    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 4;
      transform: translateX(0%);
      transition: transform .38s ease-in-out, opacity .38s ease-in-out,
        visibility .38s ease-in-out,
        z-index .38s ease-in-out;
      justify-content: unset;
    }

    &__item {
      width: 100%;
      padding: 10px 0px;

      &-link {
        &:hover {
          color: #EDEDED;
        }
      }

      .header__link {
        margin-bottom: 15px;
      }

      .link {
        display: block;
        margin-left: unset;
      }

      &--hidden {
        display: block;
      }
    }
  }

  .top {
    .container {
      max-width: 720px;
    }

    &__swiper {
      width: 100%;
      margin-bottom: 30px;
    }

    &__arrow {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      transform: unset;
      flex-direction: row-reverse;
      left: unset;
      top: unset;
      z-index: 3;

      &-prev,
      &-next {
        transform: rotate(180deg);
      }
    }
  }

  .services {
    &__bg {
      width: 100%;
    }

    &__box {
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      width: unset;
      margin-bottom: 0;
      font-size: 32px;
    }

    &__inner {
      grid-template-columns: 1fr;
      padding-bottom: 40px;
    }

    &__item {
      &-box {
        background-color: transparent;
      }

      &-title,
      &-text {
        color: #fff;
      }
    }

    &__link {
      color: #fff;
      padding-right: 3px;

      &:hover {
        color: #fff;

        .services__link-arrow {
          color: #fff;
        }
      }

      &-arrow {
        color: #fff;
        font-size: 10px;
      }
    }
  }

  .advantages {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .works {
    &__box {
      &::after {
        top: 44%;
      }
    }
  }

  .partners {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .social {
    &__icon {
      &.icon-vk {
        &:hover {
          color: #f5f5f5;
        }
      }

      &.icon-ok {
        &:hover {
          color: #f5f5f5;
        }
      }

      &.icon-yt {
        &:hover {
          color: #f5f5f5;
        }
      }

      &.icon-tg {
        &:hover {
          color: #f5f5f5;
        }
      }
    }
  }

  .footer {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 30px;
    }

    &__item {
      &:first-child {
        grid-column: 1/2;
      }

      &:nth-child(2) {
        grid-column: 2/3;
      }

      &:last-child {
        grid-area: 2/1/3/3;
      }
    }
  }
}

@media (max-width: 768px) {
  .top {
    .container {
      width: 540px;
    }
  }

  .about {
    &__item {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 576px) {
  .menu {
    width: 70%;
  }

  .top {
    .container {
      width: 100%;
    }

    &__swiper {

      &-title,
      &-text {
        text-align: center;
      }
    }

    .link {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .services {
    margin-bottom: 15px;

    &__box {
      flex-direction: column;
      gap: 10px;
    }

    &__title {
      font-size: 24px;
      text-align: center;
      margin-bottom: 15px;
    }

    &__item {
      grid-template-columns: 1fr;

      &-box {
        min-height: unset;

        &:nth-child(even) {
          border-left: 1px solid #f4f4f4;
        }

        &:not(:last-child) {
          border-bottom: none;
        }
      }

      &-title,
      &-text {
        text-align: center;
      }
    }

    &__link {
      white-space: nowrap;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .about {
    padding-top: 15px;
    margin-bottom: 15px;

    &__title {
      text-align: center;
    }

    &__item {

      &-subtitle,
      &-text {
        text-align: center;
      }
    }
  }

  .advantages {
    padding-top: 15px;
    margin-bottom: 15px;

    &__title {
      text-align: center;
    }

    &__inner {
      grid-template-columns: 1fr;
    }
  }

  .works {
    padding-top: 15px;
    margin-bottom: 15px;

    &__title {
      text-align: center;
    }
  }

  .partners {
    padding-top: 15px;
    margin-bottom: 15px;

    &__title {
      text-align: center;
    }

    &__inner {
      grid-template-columns: 1fr;
    }

    &__img {
      height: 120px;
    }
  }

  .call {
    padding-top: 15px;
    padding-bottom: 20px;

    &__title,
    &__text {
      text-align: center;
    }

    &__inner {
      grid-template-columns: 1fr;
    }

    &__bg {
      display: none;
    }

    .form {
      grid-column: unset;
    }
  }

  .form {
    &__inner {
      grid-template-columns: 1fr;
    }

    .btn {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .social {
    justify-content: center;
  }

  .footer {
    &__inner {
      grid-template-columns: 1fr;
    }

    &__item {

      &-title,
      &-subtitle,
      &-nav,
      &-text,
      &-copy {
        text-align: center;
      }

      &-block {
        justify-content: center;
      }

      &:first-child {
        grid-column: unset;
      }

      &:nth-child(2) {
        grid-column: unset;
      }

      &:last-child {
        grid-area: unset;
      }
    }
  }
}

@media (max-width: 390px) {
  .menu {
    width: 100%;
  }
}