.stonksSlider {
  position: relative;
  @include fluid(padding-top, 30px, 120px);
  @include fluid(padding-bottom, 30px, 117px);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65));
    z-index: -1;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .95;
    z-index: -1;
  }

  &__slide {
    @include fluid(padding-top, 15px, 30px);
    @include fluid(padding-bottom, 15px, 30px);
    @include fluid(padding-left, 20px, 40px);
    @include fluid(padding-right, 20px, 40px);
    background: rgba(45, 45, 45, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;

    &-title {
      @include fluid(margin-bottom, 10px, 14px);
      font-weight: 700;
      @include fluid(font-size, 20px, 24px);
      line-height: 1.2;
      color: #FFFFFF;
    }

    &-text {
      @include fluid(margin-bottom, 10px, 15px);
      line-height: 1.5;
      color: #EBEBEB;
    }

    &-price {
      font-family: 'Avrile Serif', sans-serif;
      font-weight: 700;
      @include fluid(font-size, 42px, 64px);
      line-height: 1.36;
      color: #E2AD51;
      @include fluid(margin-bottom, 50px, 86px);
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include fluid(margin-bottom, 30px, 60px);
  }

  &__title {
    margin-bottom: 0;
  }

  &__arrow {
    position: relative;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include fluid(gap, 10px, 20px);

    &-prev,
    &-next {
      position: static;
      color: #E2AD51;
      width: unset;
      height: unset;
      margin-top: 0;
      border-radius: 50%;
      border: 1px solid #E2AD51;
      background-color: transparent;
      @include fluid(padding-top, 12px, 16px);
      @include fluid(padding-bottom, 12px, 16px);
      @include fluid(padding-left, 15.9px, 20.39px);
      @include fluid(padding-right, 15.9px, 20.39px);
      transition: opacity .38s ease-in-out,
        border .38s ease-in-out,
        color .38s ease-in-out;
      transform: rotate(180deg);

      &::after {
        @include fluid(font-size, 16px, 18px);
      }

      &.swiper-button-disabled {
        border-color: #707070;
        opacity: 1;
        color: #707070;
      }
    }
  }
}

@media (max-width: 768px) {
  .stonksSlider {
    &__arrow {

      &-prev,
      &-next {
        padding: 10px 12px;

        &::after {
          font-size: 8px;
        }
      }
    }

    &__slide {
      &-price {
        font-size: 32px;
        margin-bottom: 25px;
      }
    }
  }
}