.about {
  margin-top: 30px;
  @include fluid(margin-bottom, 30px, 68px);

  &__title {
    @include fluid(margin-bottom, 30px, 48px);
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    @include fluid(column-gap, 20px, 40px);
    @include fluid(margin-bottom, 30px, 97px);

    &--reverse {
      grid-template-columns: repeat(2, 1fr);
      @include fluid(margin-bottom, 30px, 65px);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 15px, 26px);

    &-title {
      margin-bottom: 0;
    }

    &-text {
      @include fluid(font-size, 12px, 14px);
      line-height: 1.4;
      color: #4F4F4F;
    }
  }

  &__img {
    object-fit: cover;
    @include fluid(height, 280px, 342px);
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include fluid(gap, 20px, 40px);

    &-img {
      object-fit: cover;
      @include fluid(height, 150px, 166px);
    }
  }
}

@media(max-width: 768px) {
  .about {
    &__inner {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }
}