.btn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  @include fluid(padding-top, 7px, 14px);
  @include fluid(padding-bottom, 7px, 14px);
  @include fluid(padding-left, 10px, 20px);
  @include fluid(padding-right, 10px, 20px);
  @include fluid(font-size, 14px, 16px);
  line-height: 1.4;
  letter-spacing: -0.1px;
  border-radius: 24px;
  background-color: #020202;
  color: #fff;
  transition: background-color .38s ease-in-out,
    color .38s ease-in-out,
    border .38s ease-in-out;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    color: #020202;
    background-color: #fff;
    border-color: #020202;
  }

  &--content {
    max-width: 260px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &--seawave {
    background-color: #46B99E;

    &:hover {
      color: #46B99E;
      background-color: #fff;
      border-color: #46B99E;
    }
  }

  &--skyblue {
    background-color: #EEF1FB;
    color: #020202;

    &:hover {
      color: #EEF1FB;
      background-color: #020202;
      border-color: #EEF1FB;
    }
  }

  &--reg {
    position: relative;
    padding: 0;
    background-color: #fff;
    color: rgba(39, 41, 55, 0.35);
  }

  &--white {
    @include fluid(padding-top, 5px, 8px);
    @include fluid(padding-bottom, 5px, 8px);
    @include fluid(padding-left, 7px, 14px);
    @include fluid(padding-right, 7px, 14px);
    border: 1px solid rgba(39, 41, 55, 0.35);
    background-color: #FFF;
    color: #272937;
    @include fluid(font-size, 12px, 14px);
    line-height: 1.4;
    letter-spacing: -0.1px;

    &:hover {
      color: #FFF;
      background-color: #020202;
      border-color: #FFF;
    }
  }

  &--disabled {
    font-weight: 600;
    color: rgba(39, 41, 55, 0.35);
    border: 1px solid rgba(39, 41, 55, 0.12);
    background: rgba(39, 41, 55, 0.05);
    pointer-events: none;
  }

  &--width {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  &--yellow {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    color: #F3C132;

    &:hover {
      color: #fff;
      border-color: #F3C132;
      background-color: #F3C132;
    }
  }
}

@media (max-width: 992px) {
  .btn {
    &:hover {
      background-color: #020202;
      color: #fff;
    }

    &--seawave {
      &:hover {
        color: #fff;
        background-color: #46B99E;
        border-color: #46B99E;
      }
    }

    &--skyblue {
      &:hover {
        color: #020202;
        background-color: #EEF1FB;
        border-color: #EEF1FB;
      }
    }

    &--white {
      &:hover {
        color: #020202;
        background-color: #FFF;
        border-color: rgba(39, 41, 55, 0.35);
      }
    }

    &--yellow {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      color: #F3C132;

      &:hover {
        color: #F3C132;
        border-color: transparent;
        background-color: transparent;
      }
    }
  }
}