.dropdown {
  position: absolute;
  right: 0;
  top: 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: "Evolventa";
  opacity: 0;
  z-index: -1;
  visibility: hidden;

  &--alt {
    left: 0;
    right: unset;
  }

  &__inner {
    max-height: 0;
    overflow-y: auto;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url('../../assets/images/icons/rectangle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: -13px;
    right: 20px;
    z-index: -1;
  }

  &__block {
    background-color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
    @include fluid(padding-left, 14px, 20px);
    @include fluid(padding-right, 14px, 20px);
  }

  &__text,
  &__link {
    position: relative;
    @include fluid(min-height, 45px, 55px);
    display: block;
    color: #000;
    @include fluid(font-size, 16px, 17px);
    padding-top: 16px;
    padding-bottom: 16px;
    @include fluid(padding-left, 14px, 20px);
    @include fluid(padding-right, 14px, 20px);
    transition: color .38s ease-in-out,
      background-color .38s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    cursor: pointer;

    span {
      position: relative;
      z-index: 2;
      display: block;
    }

    &--mail {
      font-family: 'Raleway';
      font-size: 20px;
      font-weight: 600;
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline;
    }

    &:first-child {
      border-radius: 10px 10px 0 0;
    }

    &:last-child {
      border-radius: 0 0 10px 10px;
    }

    &:hover {
      background-color: #FCF2B7;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity 0.25s ease-in-out;
      background-repeat: no-repeat;
    }

    &::after {
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 46.41%, #D9D9D9 100%);
    }

    &:before {
      opacity: 0;
      background: linear-gradient(180deg, #fcf4c7 83.85%, #edde87 100%);
    }

    &:hover {
      color: #0F6166;

      &::after {
        opacity: 0;
      }

      &::before {
        opacity: 1;
      }
    }
  }
}