@font-face {
  font-family: "ABeeZee";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/ABeeZee-Regular.woff") format("woff"),
    url("../../assets/fonts/ABeeZee-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/Evolventa-Regular.woff") format("woff"),
    url("../../assets/fonts/Evolventa-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/Evolventa-Bold.woff") format("woff"),
    url("../../assets/fonts/Evolventa-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PTSerif";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/PTSerif-Regular.woff") format("woff"),
    url("../../assets/fonts/PTSerif-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PTSerif";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/PTSerif-Bold.woff") format("woff"),
    url("../../assets/fonts/PTSerif-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/Raleway-Regular.woff") format("woff"),
    url("../../assets/fonts/Raleway-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/Raleway-RegularItalic.woff") format("woff"),
    url("../../assets/fonts/Raleway-RegularItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  font-style: normal;
  src: url("../../assets/fonts/Raleway-SemiBold.woff") format("woff"),
    url("../../assets/fonts/Raleway-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/Raleway-Bold.woff") format("woff"),
    url("../../assets/fonts/Raleway-Bold.woff2") format("woff2");
  font-display: swap;
}